{% extends 'base.html' %}

{% block body %}
<!--elaborar melhor-->
<center><h1>What is an AI Chat Bot?</h1></center>


<p>Artificial intelligence (AI) is intelligence demonstrated by machines, unlike the natural intelligence displayed by humans and animals, which involves consciousness and emotionality. The distinction between the former and the latter categories is often revealed by the acronym chosen. 'Strong' AI is usually labelled as artificial general intelligence (AGI) while attempts to emulate 'natural' intelligence have been called artificial biological intelligence (ABI). Leading AI textbooks define the field as the study of "intelligent agents": any device that perceives its environment and takes actions that maximize its chance of successfully achieving its goals. Colloquially, the term "artificial intelligence" is often used to describe machines that mimic "cognitive" functions that humans associate with the human mind, such as "learning" and "problem solving".</p>
<p>And a chatbot is a software application used to conduct an on-line chat conversation via text or text-to-speech, in lieu of providing direct contact with a live human agent.</p>
<hr>

<p class="font-italic">Text adapted from <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a>. Original text can be found <a href="https://en.wikipedia.org/wiki/Artificial_intelligence" target="-blank">here</a> and <a href="https://en.wikipedia.org/wiki/Chatbot" target="_blank">here</a>. under <a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License" target="_blank">CC-By-SA</a> license, as well as this one, as defined by license.</p>
{% endblock %}


