{% extends 'base.html' %}

{% block body %}

<center><h1>Who was Marcus Aurelius?</h1></center>

<p>Marcus Aurelius Antoninus (26 April 121 – 17 March 180), was Roman emperor from 161 to 180 and a Stoic philosopher. He was the last of the rulers known as the Five Good Emperors (a term coined some 13 centuries later by Niccolò Machiavelli), and the last emperor of the Pax Romana (27 BC to 180 AD), an age of relative peace and stability for the Roman Empire. He served as Roman consul in 140, 145, and 161. </p>
<p>While on campaign between 170 and 180, Marcus wrote his Meditations in Greek as a source for his own guidance and self-improvement. The original title of this work, if it had one, is unknown. 'Meditations' – as well as other titles including 'To Himself' – were adopted later. He had a logical mind and his notes were representative of Stoic philosophy and spirituality. Meditations is still revered as a literary monument to a government of service and duty. According to Hays, the book was a favourite of Christina of Sweden, Frederick the Great, John Stuart Mill, Matthew Arnold, and Goethe, and is admired by modern figures such as Wen Jiabao and Bill Clinton. It has been considered by many commentators to be one of the greatest works of philosophy.</p>
<p>It is not known how widely Marcus's writings were circulated after his death. There are stray references in the ancient literature to the popularity of his precepts, and Julian the Apostate was well aware of his reputation as a philosopher, though he does not specifically mention Meditations. It survived in the scholarly traditions of the Eastern Church and the first surviving quotes of the book, as well as the first known reference of it by name ('Marcus's writings to himself') are from Arethas of Caesarea in the 10th century and in the Byzantine Suda (perhaps inserted by Arethas himself). It was first published in 1558 in Zurich by Wilhelm Xylander (ne Holzmann), from a manuscript reportedly lost shortly afterwards. The oldest surviving complete manuscript copy is in the Vatican library and dates to the 14th century.</p>


<p>Marcus acquired the reputation of a philosopher king within his lifetime, and the title would remain after his death; both Dio and the biographer call him 'the philosopher'.</p>
<p>Christians such as Justin Martyr, Athenagoras, and Eusebius also gave him the title.[298] The last-named went so far as to call him "more philanthropic and philosophic" than Antoninus and Hadrian, and set him against the persecuting emperors Domitian and Nero to make the contrast bolder.</p>

<p>The historian Herodian wrote:</p>

<blockquote>"Alone of the emperors, he gave proof of his learning not by mere words or knowledge of philosophical doctrines but by his blameless character and temperate way of life."</blockquote>

<p>Iain King explains that Marcus's legacy was tragic:</p>
<blockquote>"[The emperor's] Stoic philosophy – which is about self-restraint, duty, and respect for others – was so abjectly abandoned by the imperial line he anointed on his death.</blockquote>
<hr>
<p class="font-italic">Text adapted from <a href="https://en.wikipedia.org/wiki/Marcus_Aurelius" target="_blank">Wikipedia</a>. Original text under <a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License" target="_blank">CC-By-SA</a> license, as well as this one, as defined by license.</p>
{% endblock %}
